[Unit]
Description=livetiming scheduler service
After=crossbar.service
Requires=crossbar.service

[Service]
Type=simple
WorkingDirectory=/home/james/workspace/livetiming/
ExecStart=/home/james/workspace/livetiming/venv/bin/livetiming-scheduler
Restart=on-failure
EnvironmentFile=/home/james/workspace/livetiming/livetiming.env

[Install]
WantedBy=multi-user.target
