.timing-table-container {
  height: 75%;
  overflow-y: auto;
  border-bottom: 2px solid $color-system;
}

.timing-table-header td {
  color: $color-system;
  text-transform: uppercase;
  border-bottom: 2px solid $color-system;
}

td.timing-row-position {
  text-align: right;
  border-right: 1px solid black;
  color: $color-system;
  width: 2em;
}