.timing-table-container {
  height: 75%;
  overflow-y: auto;
  border-bottom: 2px solid $color-system;
}

@media screen and (min-width: 768px) {
  .timing-screen-header {
    height: 5%;
    overflow: hidden;
  }
}

.timing-table-container > div.col-md-12 {
  padding: 0;
}

.timing-table-header td {
  color: $color-system;
  text-transform: uppercase;
  border-bottom: 2px solid $color-system;
  span.with-tooltip {
    border-bottom: 1px dotted $color-system;
    cursor: help;
  }
}

.timing-table td {
  border-bottom: 1px solid black;
}

.tooltip {
  font-size: medium;
}

.tooltip-inner {
  border: 1px solid $color-system;
}

td.timing-row-position {
  text-align: right;
  border-right: 1px solid black;
  color: $color-system;
  width: 2em;
}

td.column_Num, td.column_Laps, td.column_Pits {
  text-align: center;
}

.pb {
  color: $color-personal-best;
}

.sb {
  color: $color-purple;
}

.sb-new {
  background-color: $color-purple !important;
  color: black;
}

.sb-new .sb {
  color: black;
}

.slow {
  color: red;
}

.old {
  color: yellow;
}

.tyre-hard {
  color: #FE6F29;
}

.tyre-medium {
  color: white;
}

.tyre-soft {
  color: yellow;
}

.tyre-ssoft {
  color: red;
}

.tyre-usoft {
  color: #D70AD5;
}

.tyre-inter {
  color: #029405;
}

.tyre-wet {
  color: #078CD1;
}

.ptp-active {
  animation: blink 0.5s step-end infinite;
}

@keyframes blink {
  50% { opacity: 0.0; }
}


tr.car_state_PIT, tr.car_state_FUEL {
  background-color: #550000;
}

.table-striped > tbody > tr.car_state_PIT:nth-of-type(odd), .table-striped > tbody > tr.car_state_FUEL:nth-of-type(odd) {
  background-color: #5C0000;
}

tr.car_state_OUT {
  background-color: #553300;
}

.table-striped > tbody > tr.car_state_OUT:nth-of-type(odd) {
  background-color: #603F00;
}

tr.car_state_RUN td.column_State {
  color: $color-state-run;
}

tr.car_state_PIT td.column_State {
  color: $color-state-pit;
}

tr.car_state_OUT td.column_State {
  color: $color-state-out;
}

tr.car_state_RET td, tr.car_state_NS td {
  color: grey;
  font-style: italic;
}


tr.car_state_FIN td.column_State {
  background-image: url('chequer.png');
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
}

tr.car_class_p td.column_Class {
  color: $color-class-p;
}

tr.car_class_pc td.column_Class {
  color: $color-class-pc;
}

tr.car_class_gtlm td.column_Class {
  color: $color-class-gtlm;
}

tr.car_class_gtd td.column_Class {
  color: $color-class-gtd;
}

tr.car_class_lmp1 td.column_Class {
  color: $color-class-lmp1;
}

tr.car_class_lmp2 td.column_Class {
  color: $color-class-lmp2;
}

tr.car_class_lmp3 td.column_Class {
  color: $color-class-lmp3;
}

tr.car_class_lmgteam td.column_Class {
  color: $color-class-gtam;
}

tr.car_class_lmgtepro td.column_Class {
  color: $color-class-gtpro;
}

tr.car_class_lmgte td.column_Class {
  color: $color-class-lmgte;
}
