.timing-modal.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .timing-modal.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.timing-modal .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.timing-modal .modal-content {
  background: transparent;
  border: 2px solid $color-system;
  height: 100%;
  vertical-align: middle;
}

.timing-modal .modal-body {
  vertical-align: middle;
  color: $color-system;
  padding: 20% 0;
  text-align: center;
}
