.timing-table-container {
  height: 75%;
  overflow-y: auto;
  border-bottom: 2px solid $color-system;
}

.timing-table-container > div.col-md-12 {
  padding: 0;
}

.timing-table-header td {
  color: $color-system;
  text-transform: uppercase;
  border-bottom: 2px solid $color-system;
}

td.timing-row-position {
  text-align: right;
  border-right: 1px solid black;
  color: $color-system;
  width: 2em;
}

td.column_Num, td.column_Laps, td.column_Pits {
  text-align: center;
}

.pb {
  color: $color-personal-best;
}

.sb {
  color: $color-purple;
}

.sb-new {
  background-color: $color-purple;
  color: black;
}

.slow {
  color: red;
}

tr.car_state_PIT {
  background-color: #550000;
}

.table-striped > tbody > tr.car_state_PIT:nth-of-type(odd) {
  background-color: #5C0000;
}

tr.car_state_OUT {
  background-color: #553300;
}

.table-striped > tbody > tr.car_state_OUT:nth-of-type(odd) {
  background-color: #603F00;
}

tr.car_state_RUN td.column_State {
  color: $color-state-run;
}

tr.car_state_PIT td.column_State {
  color: $color-state-pit;
}

tr.car_state_OUT td.column_State {
  color: $color-state-out;
}

tr.car_class_P td.column_Class {
  color: $color-class-p;
}

tr.car_class_PC td.column_Class {
  color: $color-class-pc;
}

tr.car_class_GTLM td.column_Class {
  color: $color-class-gtlm;
}

tr.car_class_GTD td.column_Class {
  color: $color-class-gtd;
}

tr.car_class_lmp1 td.column_Class {
  color: $color-class-lmp1;
}

tr.car_class_lmp2 td.column_Class {
  color: $color-class-lmp2;
}

tr.car_class_lmgteam td.column_Class {
  color: $color-class-gtam;
}

tr.car_class_lmgtepro td.column_Class {
  color: $color-class-gtpro;
}
