@import 'bootstrap/variables';

$body-bg: #000;
$text-color: #FFF;

$panel-bg: #202020;
$panel-default-heading-bg: #404040;
$panel-default-border: #808080;
$panel-default-text: #FFF;

$font-family-base: Monospace;