@import 'bootstrap/variables';

/* Colours */

$color-system: #54FFFF;
$color-personal-best: #00FF00;
$color-overall-best: #FF53E3;
$color-purple: $color-overall-best;

$color-state-run: #00FF00;
$color-state-out: #FF6418;
$color-state-pit: #DC291E;

$color-class-gtam: #FF4F00;
$color-class-lmgte: $color-class-gtam;
$color-class-gtpro: #00FF00;
$color-class-gtc: #A0A0A0;
$color-class-lmp1: #FF0000;
$color-class-lmp2: #77AAFF;
$color-class-lmp3: #AA00AA;
$color-class-p: #FF0000;
$color-class-pc: #00FF00;
$color-class-gtlm: $color-class-lmgte;
$color-class-gtd: #FFFF00;

$color-course-green: #009900;
$color-course-yellow: #DDDD00;
$color-course-red: #990000;
$color-course-purple: #800080;

/* Bootstrap overrides */

$body-bg: #000;
$text-color: #FFF;

$font-size-base: 14pt;

$panel-bg: #202020;
$panel-default-heading-bg: black;
$panel-default-border: $color-system;
$panel-default-text: $color-system;

$table-bg-accent: #202020;
$table-border-color: transparent;

$font-family-base: Verdana, Monospace;

$table-condensed-cell-padding: 3px;

$link-color: white;
$link-hover-color: $color-system;

$icon-font-path: "../fonts/bootstrap/";

$nav-link-hover-bg: transparent;
$dropdown-link-color: $color-system;
$dropdown-bg: #000;
$dropdown-border: $color-system;
$dropdown-link-hover-bg: $color-system;
$dropdown-link-hover-color: #000;
